

.imageHolder {
    margin:50px auto 30px auto;
}

.user-title {
    margin:0px auto 50px auto;
}

.center-me {
    margin:auto;
}

.margin-top {
    margin-top :20px;
}

.margin-top-small {
    margin-top :10px;
}

.margin-right-small {
    margin-right:10px;
}